<form action="/deals" method="POST">
    <label>Get deals</label>
    <input name="dealid" type="text" placeholder="Enter Deal ID">
    <button type="submit">Get Deals</button>
</form>

<h3>
<%= data.TITLE %>
</h3>