<!-- Update the client ID , redirect URI to your application -->

<a href="https://staging.allcadservices.com/oauth/authorize/?response_type=code&client_id=local.5d57eb432701c8.48502774&redirect_uri=http://92.99.141.71:3000/deals">Login to Bitrix</a>